<h1 mat-dialog-title>修改 {{ this.data.chineseName }} 的資料</h1>
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
<div mat-dialog-content>
  <form
    [formGroup]="form"
    *ngIf="!isLoading"
    (submit)="onSumit()"
    class="example-form"
  >
    <mat-form-field>
      <mat-label>中文姓名</mat-label>
      <input type="chineseName" matInput formControlName="chineseName" />
      <mat-error *ngIf="form.get('chineseName')?.invalid">
        {{ getErrorMessage("chineseName") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>英文姓名</mat-label>
      <input matInput formControlName="englishName" />
      <mat-error *ngIf="form.get('englishName')?.invalid">
        {{ getErrorMessage("englishName") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>性別</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="男">男</mat-option>
        <mat-option value="女">女</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>年級</mat-label>
      <input type="grade" matInput formControlName="grade" />
      <mat-error *ngIf="form.get('grade')?.invalid">
        {{ getErrorMessage("grade") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.invalid">
        {{ getErrorMessage("email") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>職位</mat-label>
      <mat-select formControlName="position">
        <mat-option value="老師">老師</mat-option>
        <mat-option value="學生">學生</mat-option>
        <mat-option value="其他">其他</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('position')?.invalid">
        {{ getErrorMessage("position") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>簡介</mat-label>
      <textarea type="view" formControlName="view" matInput></textarea>
      <mat-error *ngIf="form.get('view')?.invalid">
        {{ getErrorMessage("view") }}
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        type="submit"
        [disabled]="this.form.invalid"
        color="primary"
        mat-button
      >
        確認
      </button>
      <button color="warn" mat-button mat-dialog-close>取消</button>
    </div>
  </form>
</div>
